*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
scroll-behavior:smooth;
}
body{
background:#0f172a;
color:white;
overflow-x:hidden;
}
body::before{
content:"";
position:fixed;
width:600px;
height:600px;
background:#38bdf8;
filter:blur(200px);
top:-200px;
left:-100px;
opacity:.3;
z-index:-1;
}
body::after{
content:"";
position:fixed;
width:500px;
height:500px;
background:#7c3aed;
filter:blur(200px);
bottom:-100px;
right:-100px;
opacity:.3;
z-index:-1;
}
section{
padding:100px 10%;
}
.section-title{
font-size:3rem;
text-align:center;
margin-bottom:60px;
}
.navbar{
position:fixed;
top:0;
left:0;
width:100%;
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 10%;
backdrop-filter:blur(10px);
background:rgba(255,255,255,.05);
z-index:1000;
}
.logo{
font-size:1.8rem;
font-weight:700;
}
.nav-links{
display:flex;
list-style:none;
gap:30px;
}
.nav-links a{
color:white;
text-decoration:none;
transition:.3s;
}
.nav-links a:hover{
color:#38bdf8;
}
.menu-btn{
display:none;
}
.hero{
height:100vh;
display:flex;
align-items:center;
justify-content:space-between;
gap:60px;
}
.hero-content{
max-width:600px;
}

.hero h1{
font-size:5rem;
}

.hero h2{
font-size:2rem;
color:#38bdf8;
margin:10px 0;
}

.hero p{
margin:20px 0;
line-height:1.8;
}

.hero-btns{
display:flex;
gap:20px;
}

.btn{
padding:12px 30px;
border:none;
background:#38bdf8;
color:white;
text-decoration:none;
border-radius:30px;
cursor:pointer;
transition:.4s;
}

.btn:hover{
transform:translateY(-5px);
}

.btn-outline{
background:transparent;
border:2px solid #38bdf8;
}
.hero-image img{
width:400px;
height:400px;
object-fit:cover;
border-radius:50%;
border:5px solid #38bdf8;
animation:float 3s infinite ease-in-out;
}
@keyframes float{
50%{
transform:translateY(-20px);
}
}
.socials{
margin-top:20px;
display:flex;
gap:20px;
}
.socials a{
color:white;
font-size:1.5rem;
}

/* About */

.about-container{
display:grid;
grid-template-columns:1fr 1fr;
gap:50px;
align-items:center;
}
.about-img img{
width:100%;
border-radius:20px;
}

.about-info{
display:flex;
gap:40px;
margin-top:30px;
}

.about-info h4{
font-size:2rem;
color:#38bdf8;
}
.skills-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
gap:30px;
}
.skill-card{
background:rgba(255,255,255,.05);
padding:40px;
text-align:center;
border-radius:20px;
backdrop-filter:blur(10px);
transition:.4s;
}
