*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
scroll-behavior:smooth;
}
body{
background:#0f172a;
color:white;
overflow-x:hidden;
}
body::before{
content:"";
position:fixed;
width:600px;
height:600px;
background:#38bdf8;
filter:blur(200px);
top:-200px;
left:-100px;
opacity:.3;
z-index:-1;
}
